body {
  padding-top: 50px;
  background: #9DE4FA;
  color: #fff;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.forecasts {
	position: relative;
	margin-top: 5%;
}
.forecast-content h1 {
	font-size: 250px;
}