<template name="forecastList">
<div class="forecast-container row">
	<div class="forecasts col-md-5 col-md-offset-2">
		{{#each forecasts}}
			{{> forecastItem}}
		{{/each}}
	</div>
</div>
<div class="forecast-container row">
	<div class="forecasts-currently col-md-5 col-md-offset-2">
		{{#each forecasts}}
			{{> current}}
		{{/each}}
	</div>
	<div class="forecasts-precip col-md-4">
		{{#each forecasts}}
			{{> precip}}
		{{/each}}
	</div>
</div>
<div class="forecast-container row">
	<div class="col-md-8 col-md-offset-2">
		{{#each forecasts}}
			{{> upcoming}}
		{{/each}}
	</div>
</div>
</template>