<template name="upcoming">
	<div class="day day1 col-md-2">
		<h3 class="day-label">{{day1.dayLabel}}</h3>
		<h3 class="icon climacon {{day1.icon}}"></h3>
		<h3>High: {{day1.temperature}}</h3>
		<h3>Low: {{day1.temperatureLow}}</h3>
		<p>{{day1.summary}}</p>
	</div>
	<div class="day day2 col-md-2">
		<h3 class="day-label">{{day2.dayLabel}}</h3>
		<h3 class="icon climacon {{day2.icon}}"></h3>
		<h3>High: {{day2.temperature}}</h3>
		<h3>Low: {{day2.temperatureLow}}</h3>
		<p>{{day2.summary}}</p>
	</div>
	<div class="day day3 col-md-2">
		<h3 class="day-label">{{day3.dayLabel}}</h3>
		<h3 class="icon climacon {{day3.icon}}"></h3>
		<h3>High: {{day3.temperature}}</h3>
		<h3>Low: {{day3.temperatureLow}}</h3>
		<p>{{day3.summary}}</p>
	</div>
	<div class="day day4 col-md-2">
		<h3 class="day-label">{{day4.dayLabel}}</h3>
		<h3 class="icon climacon {{day4.icon}}"></h3>
		<h3>High: {{day4.temperature}}</h3>
		<h3>Low: {{day4.temperatureLow}}</h3>
		<p>{{day4.summary}}</p>
	</div>
	<div class="day day5 col-md-2">
		<h3 class="day-label">{{day5.dayLabel}}</h3>
		<h3 class="icon climacon {{day5.icon}}"></h3>
		<h3>High: {{day5.temperature}}</h3>
		<h3>Low: {{day5.temperatureLow}}</h3>
		<p>{{day5.summary}}</p>
	</div>
</template>